# Milestone 2

#### Data Clean

In [6]:
#Marshall
import numpy as np
import pandas as pd

#Graphing
import matplotlib.pyplot as plt
import seaborn as sns

#Machine learning 
from scipy.stats import linregress
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [7]:
#Cleaning from Milestone 1
restaurants = pd.read_excel('restaurants.xlsx', sheet_name = 'RESTAURANTS NEAR WSU')
houses = pd.read_excel('Independent Houses.xlsx', sheet_name = 'independent houses near wsu')
restaurants.info()
restaurants.shape
#remove = El papa pollo restaurant(closed perminantly), Albero café	(temp_closed), Dragon express	(temporialy closed), Clouds bar & lounge	(perminaly closed), Pam's wings with things (perminaly closed), Himali Eats	(perminaly closed),
remove_restraunts =["El papa pollo restaurant", "Albero café", "Dragon express", "Clouds bar & lounge", "Pam's wings with things", "Himali Eats"]
restaurants = restaurants[~restaurants['RESTAURANT NAME'].isin(remove_restraunts)]
#remove rating column and will add new column in next step
restaurants = restaurants.drop("Ratings", axis =1)
#Add New columns to the data for the analysis
restaurants['RATINGS_OUTOF5'] = [4.4,3.7,4.2,4.2, 4.3, 4.2, 4.6, 4.4, 4.7, 4.1, 3.8, 4.6, 4.3, 3.2, 4.7, 4.2, 4.5, 4.5, 5.0, 4.4, 4.6, 4.5, 4.3, 4.5, 4.3, 4.1, 4.7, 3.5, 3.6, 3.5, 3.4, 4.1, 4.5, 4.7, 3.9, 4.2, 3.0, 4.0, 3.8, 4.3, 4.6, 4.6, 4.4, 4.5, 4.2, 4.4, 4.5, 4.0, 4.6, 3.7, 4.3]
restaurants['NUM_REVIEWS'] = [260,1291, 18, 704, 291, 285, 1293, 1172, 1575, 661, 1909, 1895, 702, 1700, 580, 504, 843, 394, 97, 9, 67, 14, 17, 187, 893, 30, 88, 309, 16, 1057, 428, 172, 1087, 95, 208, 1398, 737, 225, 689, 1274, 544, 888, 228, 916, 1293, 2383, 1881, 1342, 731, 726, 247]
restaurants['MIN_COST'] = [10, 1,  np.nan, 10 ,10, 1, 10, 10, 50, 1, 10, 10, 10, 1, 10, 10, 20, 10, 10, 10, 10, np.nan, 1, 10, 10, np.nan, 10, 10, np.nan, 10, 1, 10, 10, 10, 10, 1, 1, 10, np.nan, 10, 10, np.nan, np.nan, 10, 10, 10, 20, 10, 10, 10, 10]
restaurants['MAX_COST'] = [20, 10, np.nan, 20, 20, 10, 20, 20, 100, 10, 20, 20, 20, 10, 20, 20, 30, 20, 20, 20, 20, np.nan, 10, 20, 20, np.nan, 20, 20, np.nan, 20, 10, 20, 20, 20, 20, 10, 10, 20, np.nan, 20, 20, np.nan, np.nan, 20, 20, 20, 30, 20, 20, 20, 20]
restaurants['ON_CAMPUS'] = [True, False, True, True, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]
# Add new data
#"RESTAURANT NAME" : , "DISTANCE FROM WSU":  ,	"ADDRESS" : ,	"MONDAY" : ,	"TUESDAY": ,	"WEDNESDAY" : ,	"THURSDAY" : ,	"FRIDAY" : ,	"SATURDAY" : ,	"SUNDAY" : ,	"TYPE" :  ,	"RATINGS_OUTOF5" : ,	"NUM_REVIEWS" : ,	"MIN_COST" : ,	"MAX_COST" : ,	"ON_CAMPUS" :
new_data = [ {"RESTAURANT NAME" : "Jersey Mike's Subs", "DISTANCE FROM WSU":  0.03,	"ADDRESS" : "4521 E 21st St N Suite 101, Wichita, KS 67208",	"MONDAY" : "10AM-9PM",	"TUESDAY": "10AM-9PM",	"WEDNESDAY" : "10AM-9PM",	"THURSDAY" : "10AM-9PM",	"FRIDAY" : "10AM-9PM",	"SATURDAY" : "10AM-9PM",	"SUNDAY" : "10AM-9PM",	"TYPE" : "Sandwich Shop" ,	"RATINGS_OUTOF5" : 4.2,	"NUM_REVIEWS" : 30,	"MIN_COST" : 10,	"MAX_COST" : 20,	"ON_CAMPUS" : True },
            {"RESTAURANT NAME" : "Two Hands Corn Dogs", "DISTANCE FROM WSU":  .03,	"ADDRESS" : "4510 E 19th St N Suite 106, Wichita, KS 67208",	"MONDAY" : "11AM-9PM",	"TUESDAY": "11AM-9PM",	"WEDNESDAY" : "11AM-9PM",	"THURSDAY" : "11AM-9PM",	"FRIDAY" : "11AM-9PM",	"SATURDAY" : "11AM-9PM",	"SUNDAY" : "11AM-9PM",	"TYPE" :  "Corndog Shop",	"RATINGS_OUTOF5" : 4.6,	"NUM_REVIEWS" : 65,	"MIN_COST" : 10,	"MAX_COST" : 20,	"ON_CAMPUS" : True}
             ]
restaurants = restaurants._append(new_data, ignore_index =True)
# Get the spans of time
restaurants_array = restaurants[['MONDAY', 'TUESDAY',	'WEDNESDAY',	'THURSDAY',	'FRIDAY',	'SATURDAY',	'SUNDAY']].T.values
restaurants_array = restaurants_array.flatten()
list_of_unique = pd.unique(restaurants_array)
list_of_unique = [str(s).replace('\u202f', '') if isinstance(s, str) else s for s in list_of_unique]
spans = {'11AM-11PM': 12.0, '6AM-11PM': 17.0, '11AM-10PM': 11.0, '10:30AM-10:30PM': 12.0, '6:30AM-10PM': 15.50, '4PM-10PM': 6.0, '10:30AM-10PM': 11.5, '4AM-11PM': 19.0, '8AM-2AM': 18.0, '10:30AM-9PM': 10.5, '11AM-8PM': 9.0,
         '11AM-3PM': 4.0, '10AM-7PM': 9.0, '11AM–2:30PM': 3.50, '11AM-9PM': 10.0, '7AM-9PM': 14.0, '7AM-12PM': 5.0, '10AM-10PM': 12.0, '9AM-10PM': 13.0, '3PM-9PM': 6.0, '10:45AM-10:30PM': 11.75, '5PM-10PM': 5.0, '10AM-9PM': 11.0,
         '11AM–2:30PM, 5–9PM': 4.0, '5AM-11PM': 18.0, '4PM-8PM': 4.0, '3PM-10PM': 7.0, '11AM–3PM, 4–8PM': 4.0, '6AM-10PM': 16.0, '9AM-7PM': 10.0, '10:30AM-9:30PM': 11, '10:30AM-11PM': 12.5, '12AM-11:59PM': 11.99, '11AM-12AM': 13.0,
         '11AM–2:30PM, 5–10PM': 5.0, '10AM-5PM': 7.0, '11AM-10:30PM': 11.50, '11AM-1PM': 2.0, '3PM-11PM': 8.0, '5PM-11PM': 6.0, '7AM-11PM': 16.0, '9AM-2PM,5-9PM': 5.0, '4PM-11PM': 7.0, '10AM-11PM': 13.0, '9AM-9PM': 12.0,
         '9AM-2PM': 5.0, '7AM-10PM': 15.0, '10AM-3PM': 5.0, '12PM-5PM': 5.0, '9AM-8PM': 11.0, '12PM-10PM': 10.0, np.nan: 0.0, '0': 0.0, 'Null' : 0.0}

#['MONDAY', 'TUESDAY',	'WEDNESDAY',	'THURSDAY',	'FRIDAY',	'SATURDAY',	'SUNDAY']
restaurants['Hours_Monday'] = restaurants['MONDAY'].map(spans)
restaurants['Hours_Tuesday'] = restaurants['TUESDAY'].map(spans)
restaurants['Hours_Wednesday'] = restaurants['WEDNESDAY'].map(spans)
restaurants['Hours_Thursday'] = restaurants['THURSDAY'].map(spans)
restaurants['Hours_Friday'] = restaurants['FRIDAY'].map(spans)
restaurants['Hours_Saturday'] = restaurants['SATURDAY'].map(spans)
restaurants['Hours_Sunday'] = restaurants['SUNDAY'].map(spans)
specific_columns = ['Hours_Monday', 'Hours_Tuesday', 'Hours_Wednesday', 'Hours_Thursday', 'Hours_Friday', 'Hours_Saturday', 'Hours_Sunday']
restaurants['TotalHours'] = restaurants[specific_columns].sum(axis=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RESTAURANT NAME    57 non-null     object
 1   DISTANCE FROM WSU  57 non-null     float64
 2   ADDRESS            57 non-null     object
 3   MONDAY             56 non-null     object
 4   TUESDAY            56 non-null     object
 5   WEDNESDAY          56 non-null     object
 6   THURSDAY           56 non-null     object
 7   FRIDAY             56 non-null     object
 8   SATURDAY           56 non-null     object
 9   SUNDAY             56 non-null     object
 10  TYPE               57 non-null     object
 11  Ratings            0 non-null      float64
dtypes: float64(2), object(10)
memory usage: 5.5+ KB

#### Adding latitude and longitude

In [8]:
# importing geopy library and Nominatim class
from geopy.geocoders import Nominatim
# calling the Nominatim tool and create Nominatim class
loc = Nominatim(user_agent="Geopy Library")

# entering the location name
getLoc = loc.geocode("İzmir")

# printing address
print(getLoc.address)

# printing latitude and longitude
print("Latitude = ", getLoc.latitude, "\n")
print("Longitude = ", getLoc.longitude)

ModuleNotFoundError: No module named 'geopy'

#### K-nearest neighbor

#### Data Visualization

In [4]:
import plotly.express as px
fig = px.bar(x=["a", "b", "c"], y=[1, 3, 2])
fig.show()

ModuleNotFoundError: No module named 'plotly'

In [ ]:
import plotly.express as px
import pandas as pd

df = pd.read_csv("dataset/dataset.csv")

df.dropna(
    axis=0,
    how='any',
    thresh=None,
    subset=None,
    inplace=True
)

color_scale = [(0, 'orange'), (1,'red')]

fig = px.scatter_mapbox(df, 
                        lat="Lat", 
                        lon="Long", 
                        hover_name="Address", 
                        hover_data=["Address", "Listed"],
                        color="Listed",
                        color_continuous_scale=color_scale,
                        size="Listed",
                        zoom=8, 
                        height=800,
                        width=800)

fig.update_layout(mapbox_style="open-street-map")
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()